h1 {
    font-family: 'Julius Sans One', serif;
    color: black;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

html {
    height: 100%;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: white;  /* fallback for old browsers */
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(#ffffff, #c1c1c1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#ffffff, #c1c1c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
    color: black;
    background: #cdcdcd;
    font-size: 15px;
    font-family: 'Julius Sans One', serif;
    padding: 10px;
    display: inline-block;
    font-weight: bolder;
    text-decoration: none;
}

.button:hover, .button:active {
  color:black;
  background:rgba(0, 0, 0, 0.1);
}


#logo {
    padding-top: 25px;
    width: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
