<!--{% load static from staticfiles %}-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>MKL YEETABLE</title>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="{% static '/css/userhome.css' %}">
</head>
<body>

<img src="{% static '/images/logo.png' %}" id="logo"/>

<br>
<h1 style="
    font-family: 'Julius Sans One', serif;
    color: black;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
">Welcome</h1>

<br>
<br>
<br>

<div id="navBar" class="ui fluid container center aligned">
  <div class="ui buttons">
    <form method="get" action="signup.html" class="item" style="padding-right: 75px">
      <a href="{% url 'users:signup' %}" class="ui basic black huge button">
        <h3 style="font-family: 'Julius Sans One', serif">Sign Up</h3>
      </a>
    </form>
    <div class="ui vertical hidden divider"></div>
    <form method="get" action="login.html" class="item">
      <a href="{% url 'users:login' %}" class="ui basic black huge button">
        <h3 style="font-family: 'Julius Sans One', serif">Sign In</h3>
      </a>
    </form>
  </div>
</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div id="footer" class="footer-background" style="background-color: #292929; color: white;">
  <div class="ui three column grid container">
    <div class="column">
      <h3>HEADQUARTERS</h3>
      <hr/>
      <div class="ui list">
        <div class="item">POST 318-B</div>
      </div>
    </div>
    <div class="column">
      <h3>GITHUB</h3>
      <hr/>
      <div class="ui list">
        <div class="item"><a href="https://github.com/teammkl" style="color: white;">github.com/teammkl</a></div>
      </div>
    </div>
    <div class="column">
      <h3>CONTACT US</h3>
      <hr/>
      <div class="ui list">
        <div class="item">Email: yeetable@gmail.com</div>
        <div class="item">Phone: 1-808-420-9325</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

</html>
