{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>MKL YEETABLE</title>
        <link rel="stylesheet" href="{% static '/css/login.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>
    <body>
        <img src="{% static '/images/logo.png' width=100 %}" id="logo"/>
    <div class="form">
        <h3>RETURNING USERS</h3>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="LOGIN">
            <a href="signup">New? Register Now!</a>
        </form>
    </div>


     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
            <div class="column left" style="background-color: powderblue;">
                <h2>Headquarters:</h2>
                <p>POST 318-B</p>
            </div>

            <div class="column middle" style="background-color: powderblue;">
                <h2>Github:</h2>
                <p>github.com/teammkl</p>
            </div>
            <div class="column right" style="background-color: powderblue;">
                <h2>Contact Us</h2>
                <p>Email us @: yeetable@gmail.com</p>
                <p>Contact us: 1-808-420-9325</p>
            </div>
    </body>
</html>
