{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>MKL YEETABLE</title>
        <link rel="stylesheet" href="{% static '/css/login.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>
    <body>
        <img src="{% static '/images/logo.png' width=100 %}" id="logo"/>
    <div class="form">
        <h3>RETURNING USERS</h3>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="LOGIN">
            <a href="signup">New? Register Now!</a>
        </form>
    </div>

    </body>
</html>
