<!--{% load static %}-->
<!--from users.models import Restaurant-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Information</title>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="stylesheet" href="{% static '/css/restaurantDirectory.css' %}">
</head>
<body>
<img src="{% static '/images/logo.png' %}" id="logo"/>
<div class="header">
  <div class="nav">
    <ul class="menu-bar">
      <li><a href="{% url 'users:userhome' %}">Home</i></a></li>
      <!--<li><a href="{% url 'users:restaurantDirectory' %}">Restaurant Directory</i></a></li>-->
      <li><a href="{% url 'users:login' %}">Sign Out</i></a></li>
    </ul>
  </div>
</div>

<div class="ui container">
  <div class="ui centered raised card">
    <a class="image" href="#">
      <img src="{% static '/images/panda.png' %}">
    </a>
    <div class="content">
      <a class="center aligned header" href="https://google.com">Restaurant Name</a>
      <div class="meta">
        <span class="right floated time">Hours</span>
        <span class="category">Location</span>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column left" style="background-color: powderblue;">
    <h2>Headquarters:</h2>
    <p>POST 318-B</p>
  </div>

  <div class="column middle" style="background-color: powderblue;">
    <h2>Github:</h2>
    <p>github.com/teammkl</p>
  </div>
  <div class="column right" style="background-color: powderblue;">
    <h2>Contact Us</h2>
    <p>Email us @: yeetable@gmail.com</p>
    <p>Contact us: 1-808-420-9325</p>
  </div>
</div>
</body>
</html>


<script>
  function getQueryVariable(variable) {
    const query = window.location.search.substring(1);
    const vars = query.split("&");
    for (let i = 0; i < vars.length; i++) {
      const pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }

  console.log(getQueryVariable("id"));
</script>

