<!--{% load static %}-->
<!--from users.models import Restaurant-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Directory</title>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="stylesheet" href="{% static '/css/restaurantDirectory.css' %}">
</head>
<body>
<img src="{% static '/images/logo.png' %}" id="logo"/>
<div class="header">
  <div class="nav">
    <ul class="menu-bar">
      <li><a href="{% url 'users:userhome' %}">Home</i></a></li>
      <li><a href="{% url 'users:restaurantDirectory' %}">Restaurant Directory</i></a></li>
      <li><a href="{% url 'users:login' %}">Sign Out</i></a></li>
    </ul>
  </div>
</div>
<div>
  <div class="content">
    <div class="wrap">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search restaurants...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div>
      <ol id="dynamic_list"></ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="column left" style="background-color: powderblue;">
    <h2>Headquarters:</h2>
    <p>POST 318-B</p>
  </div>

  <div class="column middle" style="background-color: powderblue;">
    <h2>Github:</h2>
    <p>github.com/teammkl</p>
  </div>
  <div class="column right" style="background-color: powderblue;">
    <h2>Contact Us</h2>
    <p>Email us @: yeetable@gmail.com</p>
    <p>Contact us: 1-808-420-9325</p>
  </div>
</div>
</body>
</html>


<script>
  const content = [];
  for (let i = 0; i < 25; i++) {
      content[i] = { title: "Restaurant #" + i };
  }

  const db = openDatabase('users_restaurant', '1.0', 'users_restaurant db', 2 * 1024 * 1024);
  // db.transaction(function (tx) {
  //   return tx.executeSql('SELECT name from users_restaurant');
  // });
  // function addItem(i){
  //   const ul = document.getElementById("dynamic_list");
  //   const x = db.transaction(function (tx) {
  //     return tx.executeSql('SELECT name from users_restaurant WHERE id=' + i);
  //   });
  //   const li = document.createElement("li");
  //   li.setAttribute('id',x.id);
  //   li.appendChild(document.createTextNode(x.name));
  //   ul.appendChild(li);
  // }
  // for (let i = 0; i < 2; i++) {
  //   content[i] = { title: addItem(i) };
  // }
  for (let i = 0; i < 2; i++) {
    content[i] = { title: db };
  }

  $('.ui.search')
      .search({
        source: content
      })
  ;
</script>

