{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>MKL YEETABLE</title>
        <link rel="stylesheet" href="{% static '/css/userhome.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>
    <body>

        <div class="header">
            <div class="nav">
                <ul class="menu-bar">
                    <li><a href="login"><i class="fa fa-chevron-left"></i></a></li>
                    <li><h1>Welcome back!</h1></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <a href="/lightthemes/">
                <div class="square-button"><img id="light" src="{% static '/images/lightscene.png' width=100 %}" /><br><p>Light Theme</p></div>
            </a>
            <a href="sound">
                <div class="square-button"><img id="light" src="{% static '/images/sound.png' width=100 %}" /><br><p>Sound</p></div>
            </a>
            <a href="timer">
                <div class="square-button"><img id="light" src="{% static '/images/clock.png' width=100 %}" /><br><p>Timer</p></div>
            </a>
            <a href="addDevice">
                <div class="square-button"><i class="fa fa-plus-circle"></i><br><p>Add Device</p></div>
            </a>
        </div>

    </body>
</html>
