{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>MKL YEETABLE</title>
        <link rel="stylesheet" href="{% static '/css/userhome.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    </head>
    <body>
    <img src="{% static '/images/logo.png' %}" id="logo"/>
        <div class="header">
            <div class="nav">
                <ul class="menu-bar">
                  <li><a href="{% url 'users:userhome' %}">Home</i></a></li>
                  <li><a href="{% url 'users:login' %}">Sign Out</i></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
          <form method="GET">
            <input type="submit" class="btn" value="Connect" name="connect"/>
            <input type="submit" class="btn" value="Turn On" name="turnon">
            <input type="submit" class="btn" value="Turn Off" name="turnoff">
            <input type="submit" class="btn" value="Dimming" name="dimming">
            <input type="submit" class="btn" value="Color" name="color">
          </form>
        </div>

    </body>
</html>
