<!--{% load static from staticfiles %}-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>MKL YEETABLE</title>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="{% static '/css/userhome2.css' %}">
</head>
<body>
<a href="{% url 'users:userhome' %}">
  <img src="{% static '/images/logo.png' %}" id="logo"/>
</a>

<div id="navBar" class="ui menu inverted four item">
  <!--<div id="coordinates" class="item">0</div>-->
  <a class="item" href="{% url 'users:userhome' %}"
     style="font-family: 'Julius Sans One', serif; padding: 20px; font-size: 20px;"
  >Home</a>
  <a class="item" href="{% url 'users:restaurantDirectory' %}"
     style="font-family: 'Julius Sans One', serif; padding: 20px; font-size: 20px;"
  >Restaurant Directory</a>
  <a class="item" href="{% url 'users:login' %}"
     style="font-family: 'Julius Sans One', serif; padding: 20px; font-size: 20px;"
  >Sign Out</a>
  <div class="item">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search restaurants...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

<div id="leftMenu" class="ui two column grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <div class="item">
        <h3 class="item ui header">Locations</h3>
        <div id="locationsMenu" class="ui right aligned container">
          <a href="restaurantDirectory?locationid=0" class="item">Center for Korean Studies</a>
          <a href="restaurantDirectory?locationid=1" class="item">Holmes Hall</a>
          <a href="restaurantDirectory?locationid=2" class="item">Krauss Hall</a>
          <a href="restaurantDirectory?locationid=3" class="item">Paradise Palms Café</a>
          <a href="restaurantDirectory?locationid=4" class="item">POST Building</a>
          <a href="restaurantDirectory?locationid=5" class="item">Shidler College of Business</a>
          <a href="restaurantDirectory?locationid=6" class="item">Sustainability Courtyard</a>
        </div>
      </div>
      <div class="item">
        <h3 class="item ui header">Restaurants</h3>
        <div id="restaurantNameMenu" class="ui right aligned container"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui center aligned fluid container">
      <img src="{% static '/images/locationsUpperCampusMap.png' %}" alt="Upper Campus Locations" border="0"
           usemap="#upperMap"/>
      <map name="upperMap">
        <area shape="rect" coords="520,290,560,340" onmouseover="mouseOver(0)" onmouseout="mouseOut(0)"
              alt="Center for Korean Studies" href="restaurantDirectory?locationid=0">
        <area shape="rect" coords="160,495,200,545" onmouseover="mouseOver(1)" onmouseout="mouseOut(1)"
              alt="Holmes Hall" href="restaurantDirectory?locationid=1">
        <area shape="rect" coords="80,325,120,375" onmouseover="mouseOver(2)" onmouseout="mouseOut(2)"
              alt="Krauss Hall" href="restaurantDirectory?locationid=2">
        <area shape="rect" coords="395,275,430,325" onmouseover="mouseOver(3)" onmouseout="mouseOut(3)"
              alt="Paradise Palms Café" href="restaurantDirectory?locationid=3">
        <area shape="rect" coords="520,290,560,340" onmouseover="mouseOver(4)" onmouseout="mouseOut(4)"
              alt="POST Building" href="restaurantDirectory?locationid=4">
        <area shape="rect" coords="80,0,200,40" onmouseover="mouseOver(5)" onmouseout="mouseOut(5)"
              alt="Shidler College of Business, 1st Floor" href="restaurantDirectory?locationid=5">
        <area shape="rect" coords="130,345,185,415" onmouseover="mouseOver(6)" onmouseout="mouseOut(6)"
              alt="Sustainability Courtyard" href="restaurantDirectory?locationid=6">
      </map>
      <img src="{% static '/images/locationsLowerCampusMap.png' %}" alt="Lower Campus Locations" border="0"
           usemap="#Map"/>
      <div id="mapLabels" class="ui left pointing black labels">
        <div id="locationid0" class="ui right pointing label" style="font-weight: normal; display: none">
          <h4>Center for Korean Studies</h4>
          <p>Kamitoku Ramen</p>
        </div>
        <div id="locationid1" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>Holmes Hall</h4>
          <p>Sistah Truck</p>
        </div>
        <div id="locationid2" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>Krauss Hall</h4>
          <p>Hot Tacos</p>
        </div>
        <div id="locationid3" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>Paradise Palms Café</h4>
          <p>Dunkin' Donuts</p>
          <p>Holoholo Grill</p>
          <p>L&L Barbecue</p>
          <p>Lasoon</p>
          <p>Le Crêpe Café</p>
          <p>Panda Express</p>
        </div>
        <div id="locationid4" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>POST Building</h4>
          <p>Hot Tacos</p>
        </div>
        <div id="locationid5" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>Schidler College of Business</h4>
          <p>The Bean Counter</p>
        </div>
        <div id="locationid6" class="ui left pointing label" style="font-weight: normal; display: none">
          <h4>Sustainability Courtyard</h4>
          <p>Da Spot</p>
          <p>Govinda's</p>
          <p>Peace Cafe</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--<div>
  <form method="GET">
    <input type="image" id="lecrepecafe" src="{% static '/images/lecrepecafe.png' %}" value="lecrepecafe"
           name="lecrepecafe" class="restBtn">
    <input type="image" id="starbucks" src="{% static '/images/starbucks.png' %}" value="starbucks" name="starbucks"
           class="restBtn">
    <input type="image" id="jamba" src="{% static '/images/jamba.png' %}" value="jamba" name="jamba" class="restBtn">
    <input type="image" id="panda" src="{% static '/images/panda.png' %}" value="panda" name="panda" class="restBtn">
    <BR>
    <input type="submit" class="btn" value="Connect" name="connect"/>
    <input type="submit" class="btn" value="Turn On" name="turnon">
    <input type="submit" class="btn" value="Turn Off" name="turnoff">
    <input type="submit" class="btn" value="Dimming" name="dimming">
    <input type="submit" class="btn" value="Color" name="color">
  </form>
</div>-->

<div id="footer" class="footer-background" style="background-color: #292929; color: white;">
  <div class="ui three column grid container">
    <div class="column">
      <h3>HEADQUARTERS</h3>
      <hr/>
      <div class="ui list">
        <div class="item">POST 318-B</div>
      </div>
    </div>
    <div class="column">
      <h3>GITHUB</h3>
      <hr/>
      <div class="ui list">
        <div class="item"><a href="https://github.com/teammkl" style="color: white;">github.com/teammkl</a></div>
      </div>
    </div>
    <div class="column">
      <h3>CONTACT US</h3>
      <hr/>
      <div class="ui list">
        <div class="item">Email: yeetable@gmail.com</div>
        <div class="item">Phone: 1-808-420-9325</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script>
  const locationList = [
    "Center for Korean Studies",
    "Holmes Hall",
    "Krauss Hall",
    "Paradise Palms Café",
    "POST Building",
    "Shidler College of Business, 1st Floor",
    "Sustainability Courtyard"
  ];

  const data = [
    { name: "Da Spot", location: "Sustainability Courtyard", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Dunkin' Donuts", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Govinda's", location: "Sustainability Courtyard", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Holoholo Grill", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Hot Tacos", location: "Krauss Hall", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Kamitoku Ramen", location: "Center for Korean Studies", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "L&L Hawaiian Barbecue", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Lasoon", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Le Crêpe Café", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Panda Express", location: "Paradise Palms Café", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Peace Cafe", location: "Sustainability Courtyard", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Punchbowl Cafe", location: "POST Building", hours: "Monday-Friday 10:00am - 2:00pm" },
    { name: "Sistah Truck", location: "Holmes Hall", hours: "Monday-Friday 10:00am - 2:00pm" },
    {
      name: "The Bean Counter",
      location: "Shidler College of Business, 1st Floor",
      hours: "Monday-Friday 10:00am - 2:00pm"
    }
  ];
  for (let i = 0; i < data.length; i++) {
    data[i].myid = i;
    for (let j = 0; j < locationList.length; j++) {
      if (data[i].location == locationList[j]) {
        data[i].locationid = j;
      }
    }
    createMenuItem(data[i]);
  }

  function createMenuItem(restaurantObj) {
    $('#restaurantNameMenu')
        .append(
            $('<a/>').attr("href", "restaurantDirectory?id=" + restaurantObj.myid)
                .addClass("item").text(restaurantObj.name));
  }

  $('.ui.search')
      .search({
        source: data,
        searchFields: ['name'],
        fields: {
          title: 'name',
        },
        onSelect: function (result, response) {
          console.log(result);
          console.log(response);
          console.log(result.myid);
          location.href = "restaurantDirectory" + "?id=" + result.myid;
          return true;
        }
      });

  $(function () {
    $(document).mousemove(function (e) {
      $('#coordinates').html('x: ' + e.pageX + ' y : ' + e.pageY);
    });
  })

  function placeDiv(x_pos, y_pos, elementid) {
    let d = document.getElementById(elementid);
    d.style.position = "absolute";
    d.style.left = x_pos + 'px';
    d.style.top = y_pos + 'px';
  }

  function mouseOver(locationid) {
    document.getElementById("locationid" + locationid).style.display = "inline-block";
  }

  function mouseOut(locationid) {
    document.getElementById("locationid" + locationid).style.display = "none";

  }

  function positionMapLabels() {
    placeDiv(335, 300, 'locationid0');
    placeDiv(205, 510, 'locationid1');
    placeDiv(125, 335, 'locationid2');
    placeDiv(440, 215, 'locationid3');
    placeDiv(205, 510, 'locationid4');
    placeDiv(135, 10, 'locationid5');
    placeDiv(180, 350, 'locationid6');
  }

  positionMapLabels();
</script>
